body {
    margin: 0px;
}
header
{
   width:                100%;
   height:               25px;
   font-family:          Arial;
   font-style:           normal;
   border:               2px solid red;
   text-align:           center;
}

nav 
{   
   list-style-type:      none;
   margin:               0;
   padding:              0;
   overflow:             hidden;
   background-color:     grey;
}

nav a
{
   float:                left;
   display:              block;
   color:                white;
   text-align:           center;
   padding:              14px 16px;
   text-decoration:      none;
}

#kop 
{
   font-family:          arial;
   font-size:            18px;
} 

#bericht1
{
    border:              2px solid red;   
    width:               200px;
    float:               left;
    width:               30%;
    padding:             8px;
    text-align:          center;
}

#bericht2
{
    border:              2px solid red;
    width:               200px;
    float:               left;
    width:               30%;
    padding:             8px;
    text-align:          center;
}

#bericht3
{
    border:              2px solid red;
    width:               200px;
    float:               left;
    width:               30%;
    padding:             8px;
    text-align:          center;
}

footer 
{
    background-color:    #F1F1F1;
    text-align:          center;
    padding:             10px;
}